.name {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0px 0px 0px 0px;
    text-align: center;
    width: 300px;
    height: 80px;
    padding-top: 40px;
    font-weight: bolder;
    font-size: 30px;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif; 
    margin: 0px 50px 20px 30px;
    color: #4aaaa5;
    padding: 20px 300px 0px 0px;
}

.nav{
    color: #4aaaa5;
    float: right;
    font-size: 20px;
    margin: 90px 0px 0px 20px;  
    width: 40%;
}

#image{
    float: left;
    margin: 0px 10px 20px 50px;
    padding: 20px 20px 0px 0px;
}

#bio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 0px 0px 0px 100px;
    line-height: 37px;
    
}

footer {
    text-align: center;
    color: white;
    background-color: #666666;
    height: 67px;
    padding: 0px 0px 28px 0px;
    margin: 0px 0px 0px 0px;
    border-top: 5px solid;
    border-color: #4aaaa5;

}

.background {
    border-color: #dddddd;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 500px;
}

header {
    background-color: #ffffff;
    padding: 0px 100px 0px 200px;
    background-color:#ffffff;
    margin: 0px 0px 0px 0px;
}

h3 {
    padding: 40px 0px 0px 0px;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#placeholders{
    padding: 20px 0px 0px 60px;
    line-height: 50px;
}

body {
    background-image: url("../images/stone.jpg");
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#mainbackground {
    background-color: #ffffff;
    margin: 40px 200px 20px 200px;
    width: 960px;
    height: 450px;
}

#portfolio {
    background-color: #ffffff;
    width: 960px;
    height: 850px;
    margin: 20px 0px 20px 200px;
}

.hangman{
    background-color: #4aaaa5;
    width: 300px;
    height: 50px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
}
.box1 {
    width: 850px;
    height: 3px;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 20px;
}

.box2{
    width: 850px;
    height: 3px;
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 0px 20px;
}

.contact-form {
    background-color: #ffffff;
    margin: 21px 200px 50px 200px;
    width: 960px;
    height: 430px;
    padding: 0px 0px 0px 0px;
}

.box3 {
    width: 850px;
    height: 200px;
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 0px 20px;
}
.submit {
    background-color: #4aaaa5;
    width: 90px;
    height: 30px;
    margin: 3px 0px 0px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}
